{% include 'base.html' %}
{% include 'navigation.html' %}
{% load static %}
{% block content %}

<div class="container">
        
        <section class="about1">
            <h4>Welcome to MTRH Community</h4>
            <p>At MTRH Community, we are committed to connecting doctors, nurses, allied health
                 professionals and support staff through innovative technology.</p>
                 <h5>Key Features</h5>
                 <ul>
                     <li><strong>Enhanced Communication:</strong> Connect with colleagues seamlessly and stay updated with real-time communication.</li>
                     <li><strong>Resource Sharing:</strong> Share knowledge, resources, and best practices to improve patient care.</li>
                     <li><strong>Professional Development:</strong> Access educational opportunities and professional development resources <br> to advance your career.</li>
                     <li><strong>Community Engagement:</strong> Participate in forums and discussions to exchange ideas and support each other.</li>
                 </ul>
            <h5>Our Mission</h5>
            <p>We strive to foster collaboration, enhance communication, 
                and promote a supportive environment within our healthcare community.</p>
            <h5>Join Us Today</h5>
            <p>Experience the power of collaboration and innovation in healthcare. Join MTRH Community and 
                be part of a dynamic network <br> dedicated to improving patient outcomes and professional growth.</p>
        </section>
    </div>

{% include "footer.html" %}
{% endblock content %}

