{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="foot" style="height: 150px;">
    <footer >
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqa2dTdjdZdzRjUzFZOWlHZTBFT0xUV3VDMmstZ3xBQ3Jtc0trLURNZl82Y3Rfc29rajdqQ3pyZHNNSFM5UlpOZlVyME4yalpHRW92dzM3R0MxWDBqeElGeTdtUjk2T2tlLTdCbF9jSzl1UWNscVZIcnF4QW41MDJVMlFEQld1QXhMRDJoV2ViZURERm1HaW1DRFA2WQ&q=https%3A%2F%2Fwww.facebook.com%2FMTRHofficial%2F" style="color: blue;"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqa2tOeC0zLUh6YVh0Q3N2Smw0ZGlQcDEzOVRiQXxBQ3Jtc0tsaUdqejNLV205d0ExVFFPczhwemJYS1l1Ukt2a1dkb0NmT21PSkx5dTZMaG84VmZKNlRpOUdKdG1rMHRQV1dlS19xYzBHM1JHWEFyNjNKWHFkdWFnM1g0V1JvVm4zYWtHTjU4Z0prQTJTVVJNN0ZqYw&q=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2FMTRHofficial%2F" style="color: blue;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqa3lSZVpqV1NmbFpYcHZmSnVJVUY3OXNUbTRiZ3xBQ3Jtc0tuUUl0ZWNJYTZjMGU0QkxLQlhlRDhZbFNXdHRpNmEtV203WHJKSEZDRGo1NGxxVVVMY3A2cnc2ZmNIQ3pHaW9JdlU0b3BiaHY1eTBSLXZVbUltZjJyMkk1UlM1QWRzSXRvM2JzajVCblFkSEpteTB5Yw&q=https%3A%2F%2Ftwitter.com%2FMTRHofficial" style="color: rgb(4, 4, 4);"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqbTZNMEZjX2tyaFFtWjVFNFFiZC0tRC10Yi1EZ3xBQ3Jtc0tuNDNZbkxvcElMa3l4YS1aTktWS21KUUtjdWZ5czZMN3dfOEk1QW95bnZFWDNwaDkzeFNLYkZBQlVfc3MzeW1QamVHUWg0RWNPOFkyNVBnVVJBaGhHSDJOYUZndmlJeW1keGRfbDBVVEZrM210MmtUMA&q=https%3A%2F%2Fplus.google.com%2F%2BMTRHofficial"><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://youtube.com/@moiteachingandreferralhosp4461?si=--pjG_TawJbmOoaA"><i class="fa-brands fa-youtube" style="color: brown;"></i></a>
        </div>
        <div class="footerNav">
            <ul><li><a href="" style="color: black;">Home</a></li>
                <li><a href=""style="color: black;">News</a></li>
                <li><a href=""style="color: black;">About</a></li>
                <li><a href=""style="color: black;">Contact Us</a></li>
                <li><a href=""style="color: black;">Our Team</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2024 <a href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqbXNXTndyVDlrUk5yUEJCcmMzSjE0WjFqWEV5QXxBQ3Jtc0trM3M2UDRpYVY2MUd6X0pzZmNLOWotTURaM0poTDk3R3JpN0hVTU1WVGh5dkViTnh1ZkppTFYtX1d4TVphRjI2QnZYMldoWUpRWjJvQ19aTGhlR2ZKaks4S1M1a3RMcGFLSjJJaUlGWENnalVpbkd5bw&q=http%3A%2F%2Fwww.mtrh.go.ke%2F">Moi Teaching & Referral Hospital</a>. All Rights Reserved</span></p>
    </div>

</footer>
</div>
</body>
</html>